<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>provisioningProfiles</key>
    <dict>
        <key>BUNDLE_IDENTIFIER</key>
        <string>PROVISIONING_PROFILE_NAME</string>
    </dict>
    <key>method</key>
    <string>ad-hoc</string> #adhoc or enterprise
    <key>teamID</key>
    <string>TEAM_ID</string> #TEAM ID that can find
</dict>
</plist>